.box {
  display: flex;
  max-width: 1000px;
  border: 1px solid #000;
  height: 800px;
}
.text {
  border: 1px solid #ccc;
  width: 200px;
}

.text:nth-child(1) {
  /* flex-basis: 2; */
  /* width: 200px; */
}
.text:nth-child(2) {
  /* flex-basis: 1; */
  /* width: 200px; */
}
